@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body{
	background-color: #fff;
	color: #9b9b9b;
	
}
header i{
	color:#fff;
	text-align: center;
	font-size: 20px;
	width: 40px;
	font-family: Open Sans;
	
}



header{
	background-color: transparent;
}

.btn-header{
	align-content: left;
	background-color: #ff4514;
	margin-left: 50%;
	border-radius: 50px;
	
}

#home{
	padding-top: 15%;
	postion: relative;
	color:#fff;
	text-align: center;
	padding-bottom: 20%;
	background-image: url(../img/bg-hero.jpg);
	background-position: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

#home img{
	font-size: 60px;
	letter-spacing: 10px;
	padding-bottom: 4%;
}

#home h6{
	color: #fff;
}

#home i{
	color:#ff4514;
}

#home h6{
padding-bottom: 2%;
}

.btn-uno

{background-color: #ff4514;
	margin-left: 50%;
	border-radius: 50px;
	padding: 10px 40px;

}

.btn-dos{
	background-color: transparent;
	margin-right: 50%;
	border-radius: 50px;
	padding: 10px 40px;
	border-color:#ff4514
}

#learn{
padding: 3%;
}

#learn h1{
	text-align: center;
	font-size: 50px;
	font-weight:700;
	margin-bottom: 3%;
	color:#191919;
}

.title{
	text-align: center;
	font-size: 50px;
	font-weight:700;
	margin-bottom: 3%;
	color:#191919;
}
#learn h4{
	color:#191919;
	margin-bottom: 20px;
	
}

#learn img{
	margin-bottom: 40px;
}

#numeros{
	background-image: url(../img/bg-counter.jpg);
	background-position: cover;
	background-repeat: no-repeat;
padding: 5%;
	text-align: center;
}

#numeros h1{
	color:#ff4514;
	font-size: 70px;
}

#numeros h3{
	color: #fff;
	
}

#speakers{
	text-align: center;
	padding:5%;
}

#speakers img{
	border-radius: 100%;
}

#speakers h4{
	margin-bottom: 5%;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.subtitle{
	margin-bottom: 5%;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

#speakers h5{
	margin: 10px 0;
	color:#191919;
}

#speakers h6{
	color:#ff4514;
	padding-bottom: 5%;
}

#speakers i{
	color:#B4C0C0;
}

#schedule{
	background-image: url(../img/bg-schedule.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.box{
	border: 1px solid  #d9d9d9;
	background-color: #FFFFff;
	
}

#schedule{
	padding: 5%;
}

#schedule  h1,h6,h2{
	color:#191919;
}

.espacios{
	margin-bottom: 5%;
	
	}
#schedule h2{
	padding-top: 3%;
	font-size: 30px;
	text-align: left;
	
	
}

#schedule i{
	font-size: 12px;
	margin-left: 30px;
	text-align: right;
}

#schedule h1{
	font-weight: bolder;
}

#schedule h6{
	letter-spacing: 3px;
	font-size: 15px;
}

#formulario{
	background-image:url(../img/bg-call-action.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 5%;
}

#register{
	color: #FFFFFF;
	text-align: center;
}

.form-group{
	align: center;
}

.formss{
	border-color: #ff4514;
	margin-left: 5%;
	border-radius: 50px;
	background-color: transparent;
	color:#FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
}

.formss:hover{
	background-color: #fffff;
	border-color: #ff4514;
	
}

footer{
	background-color: #191919;
	padding: 5%;
	text-align: center;
	color: #373739;
}

footer img{
	align-content: center;
	padding-bottom: 1%;
}

